@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-image: url("./Photo/WUPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    width: 100px;
    height: auto;
}

.logo-container{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-container img {
    width: 180px;
    height: auto;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 600px;
    height: 320px;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.login-container h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

button {
    display: flex;
    width: 13%;
    padding: 12px;
    background-color: purple;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.footer-credit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.9);
    text-align: center; 
    opacity: 0.8;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}


.footer-text {
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .login-container {
        padding: 30px 20px;
    }
    
    .login-container h2 {
        font-size: 24px;
    }
    
    .input-group input {
        padding: 10px;
        font-size: 14px;
    }
    
    button {
        padding: 10px;
        font-size: 16px;
    }
}
